<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jtasks.server.reports">
    <parameter id="type" value="SERVER"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.reports"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.reports"/>
        <plugin-dependency plugin-id="com.gridnine.jtasks.common.core"/>
        <plugin-dependency plugin-id="com.gridnine.jtasks.server.core"/>
    </dependencies>
    <extension point-id="activator">
        <parameter id="class" value="com.gridnine.jtasks.server.reports.activator.JTasksReportsActivator"/>
    </extension>
</plugin>
