<?xml version="1.0" encoding="UTF-8"?>
<component name="libraryTable">
   <library name="server">
      <CLASSES>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/7c4f3c474fb2c041d8028740440937705ebb473a/logback-classic-1.2.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.3/864344400c3d4d92dfeb0a305dc87d953677c03c/logback-core-1.2.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.10.3/f7ee7b55c7d292ac72fbaa7648c089f069c938d2/jackson-core-2.10.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.woodstox/woodstox-core/5.2.1/2262f79ba939a9cd827e5a0f0fd1b507fcacce57/woodstox-core-5.2.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.github.virtuald/curvesapi/1.06/159dd2e8956459a4eb0a9a6ecda9004d8d289708/curvesapi-1.06.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.h2database/h2/1.4.200/f7533fe7cb8e99c87a43d325a77b4b678ad9031a/h2-1.4.200.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/c3p0/0.9.5.5/37dfc3021e5589d65ff2ae0becf811510b87ab01/c3p0-0.9.5.5.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/mchange-commons-java/0.2.19/7a4bee38ea02bd7dee776869b19fb3f6861d6acf/mchange-commons-java-0.2.19.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.nothome/javaxdelta/2.0.1/d4f5d077f1b15c6f67595015d69572303ad3f66d/javaxdelta-2.0.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.istack/istack-commons-runtime/3.0.7/c197c86ceec7318b1284bffb49b54226ca774003/istack-commons-runtime-3.0.7.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.xml.fastinfoset/FastInfoset/1.2.15/bb7b7ec0379982b97c62cd17465cb6d9155f68e8/FastInfoset-1.2.15.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.zaxxer/SparseBitSet/1.2/8467c813d442837fcaeddbc42cf5c5359fab4933/SparseBitSet-1.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-codec/commons-codec/1.15/49d94806b6e3dc933dacbd8acb0fdbab8ebd1e5d/commons-codec-1.15.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-io/commons-io/1.3.1/b90b6ac57cf27a2858eaa490d02ba7945d18ca7b/commons-io-1.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/de.rototor.pdfbox/graphics2d/0.30/e34a2638d08357e206a9df58fdc90d7c8eec4600/graphics2d-0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.activation/javax.activation-api/1.2.0/85262acf3ca9816f9537ca47d5adeabaead7cb16/javax.activation-api-1.2.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.xml.bind/jaxb-api/2.3.1/8531ad5ac454cc2deb9d4d32c40c4d7451939b5d/jaxb-api-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-collections4/4.4/62ebe7544cb7164d87e0637a2a6a2bdc981395e8/commons-collections4-4.4.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-compress/1.20/b8df472b31e1f17c232d2ad78ceb1c84e00c641b/commons-compress-1.20.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-math3/3.6.1/e4ba98f1d4b3c80ec46392f25e094a6a2e58fcbf/commons-math3-3.6.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.pdfbox/fontbox/2.0.22/8b1db262fa6b79cde6d1c8e976a530b960820ae3/fontbox-2.0.22.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.pdfbox/pdfbox/2.0.22/61f19d1ebc0bec25bbbc0eb2b28ee872a39a76b3/pdfbox-2.0.22.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.poi/poi-ooxml-lite/5.0.0/ca2284f09a214feb6bd8b20ecbe4bfc8eaef08c1/poi-ooxml-lite-5.0.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.poi/poi-ooxml/5.0.0/92e7e4086184ae074c4f1c0da178afed9ab66d1c/poi-ooxml-5.0.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.poi/poi/5.0.0/68039007ca335269576dd526e16671c579045dfc/poi-5.0.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.santuario/xmlsec/2.2.1/d64462dd9f37f49b311b67b48f2e2b1fb7fabb82/xmlsec-2.2.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-core/9.0.30/ad32909314fe2ba02cec036434c0addd19bcc580/tomcat-embed-core-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-el/9.0.30/406e0c7cc45204c0f81853d73e8cfedfa4e00945/tomcat-embed-el-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-jasper/9.0.30/b57b6cc276bf7fd3f32cb13c405a7cb8382069c7/tomcat-embed-jasper-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat/tomcat-annotations-api/9.0.30/69e405494339f1a06097fbddbd93164dbf8bddaf/tomcat-annotations-api-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlbeans/xmlbeans/4.0.0/b4d6063550992edd2bbdf7b278ff0a15e78e16d/xmlbeans-4.0.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-all/1.13/b2b05df4bbe65d2bedb5f675d8eaa490a7577a03/batik-all-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-anim/1.13/a5d06a4fbaf9cf2015c76d95d9a5dcf3a5bcf9e2/batik-anim-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-awt-util/1.13/d6dca71c2e3e48901a5a3cab9477f0b7a7c53c8/batik-awt-util-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-bridge/1.13/fe5e35b253b859e6a0a67fe3595bc8c3ad6faa52/batik-bridge-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-codec/1.13/635aa7b508dd7ab1bc2c4bec61e5e87d96a87f12/batik-codec-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-constants/1.13/2778851f7c8e7023578e7b76c4e4f11e4b183a13/batik-constants-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-css/1.13/90d83f11998260ad0f7ac784f90181f41ccd5bcd/batik-css-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-dom/1.13/818605a4cffadb5ec0db39b2f560c2206d65f691/batik-dom-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-ext/1.13/ea55108b070051c5440613cfbbe91414010d183e/batik-ext-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-extension/1.13/92f42a0cbda28d920116bb0648d2d2eecabdd19/batik-extension-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-gui-util/1.13/a74a998205a316ff1ab2cab5240c9973de5fda69/batik-gui-util-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-gvt/1.13/e324b1b5bb23649c67579b8c2ee45f33de42e539/batik-gvt-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-i18n/1.13/e08aab4a78a5825144d7f1772356c0ee059a8d46/batik-i18n-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-parser/1.13/33169dfb1155b76705b8640a1aa9a222564b3a62/batik-parser-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-rasterizer-ext/1.13/451de768d33a76f74c50492412ffa46ff30c58aa/batik-rasterizer-ext-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-rasterizer/1.13/2377ed2b69069bd5c53a52eb055108667b4183e/batik-rasterizer-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-script/1.13/4579ef2a459f3574bd85236892c6af9c4d821ef0/batik-script-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-shared-resources/1.13/5b886d1a3327b1bf09e377d359c5d2392cccfed0/batik-shared-resources-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-slideshow/1.13/4d6ada95bcd8173f6df31a5ed85ecc84f33fb580/batik-slideshow-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-squiggle-ext/1.13/234c427f67925208012894f7195b80a066440c5f/batik-squiggle-ext-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-squiggle/1.13/ea736a9768c4e9b842023e2107a965870dccbdd7/batik-squiggle-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svg-dom/1.13/ad16f601df77e9230a5a6a78ec7bfaf3ee2767d4/batik-svg-dom-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgbrowser/1.13/279a07410db28fdb3d819c148fe8fb7e10ee10a7/batik-svgbrowser-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svggen/1.13/aee02c61f8ed1a50db182a1974f0ef11166fcc01/batik-svggen-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgpp/1.13/255118c63cc93ccfddc40a4472acab789f142d6a/batik-svgpp-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgrasterizer/1.13/b4892e196ec5d829478f22c3a8d9c2321c2daa40/batik-svgrasterizer-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-swing/1.13/232653b04333483431cce9cdece2978fc6577c27/batik-swing-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-transcoder/1.13/c315cbb6cc7a809c18995ae84f37c087b6f71fb3/batik-transcoder-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-ttf2svg/1.13/70d2b5b9b2f253d6a89e208e7bb8d9658ac61f46/batik-ttf2svg-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-util/1.13/341818ceb5f7088c9ff5b35fac419ad9a74d8b6f/batik-util-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-xml/1.13/1384efa56d6047a6d87e955a3a81a8e85061a74d/batik-xml-1.13.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/xmlgraphics-commons/2.4/8d261df049a23d40a053d2700399ea76080fe0a8/xmlgraphics-commons-2.4.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.bouncycastle/bcpkix-jdk15on/1.68/81da950604ff0b2652348cbd2b48fde46ced9867/bcpkix-jdk15on-1.68.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.bouncycastle/bcprov-jdk15on/1.68/46a080368d38b428d237a59458f9bc915222894d/bcprov-jdk15on-1.68.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.checkerframework/checker-qual/3.5.0/2f50520c8abea66fbd8d26e481d3aef5c673b510/checker-qual-3.5.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.codehaus.woodstox/stax2-api/4.2/13c2b30926bca0429c704c4b4ca0b5d0432b69cd/stax2-api-4.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.eclipse.jdt/ecj/3.18.0/4d5d0911b30db24c8eb844702c8adf8e434314ff/ecj-3.18.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.ehcache/ehcache/3.8.1/ae19c7f2f63f5e88f00ccd189b22c535ab75b01a/ehcache-3.8.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/jaxb-runtime/2.3.1/dd6dda9da676a54c5b36ca2806ff95ee017d8738/jaxb-runtime-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/txw2/2.3.1/a09d2c48d3285f206fafbffe0e50619284e92126/txw2-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-reflect/1.4.10/e2b3c6695eee6085e606d96d685396dce23a3a06/kotlin-reflect-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-common/1.4.30/bb9a3173350f55732416ee27956ea8f9b81f4dbb/kotlin-stdlib-common-1.4.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk7/1.4.10/30e46450b0bb3dbf43898d2f461be4a942784780/kotlin-stdlib-jdk7-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk8/1.4.10/998caa30623f73223194a8b657abd2baec4880ea/kotlin-stdlib-jdk8-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib/1.4.30/d10d1e10f47006ee08162dde039e38ac487de4ac/kotlin-stdlib-1.4.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlinx/kotlinx-coroutines-core-jvm/1.4.3/1051e11eb789ed1df93412bebe0f06e9d29160e4/kotlinx-coroutines-core-jvm-1.4.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains/annotations/13.0/919f0dfe192fb4e063e7dacadee7f8bb9a2672a9/annotations-13.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jvnet.staxex/stax-ex/1.8/8cc35f73da321c29973191f2cf143d29d26a1df7/stax-ex-1.8.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.postgresql/postgresql/42.2.18/a0a9c1d43c7727eeaf1b729477891185d3c71751/postgresql-42.2.18.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/jcl-over-slf4j/1.7.30/cd92524ea19d27e5b94ecd251e1af729cffdfe15/jcl-over-slf4j-1.7.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/jul-to-slf4j/1.7.30/d58bebff8cbf70ff52b59208586095f467656c30/jul-to-slf4j-1.7.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.30/b5a4b6d16ab13e34a88fae84c35cd5d68cac922c/slf4j-api-1.7.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/trove/trove/1.0.2/112b40581ab9a4d3de4636d49985a7f686d181c8/trove-1.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xalan/serializer/2.7.2/24247f3bb052ee068971393bdb83e04512bb1c3c/serializer-2.7.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xalan/xalan/2.7.2/d55d3f02a56ec4c25695fe67e1334ff8c2ecea23/xalan-2.7.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xml-apis/xml-apis-ext/1.3.04/41a8b86b358e87f3f13cf46069721719105aff66/xml-apis-ext-1.3.04.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xml-apis/xml-apis/1.4.01/3789d9fada2d3d458c4ba2de349d48780f381ee3/xml-apis-1.4.01.jar!/"/>
      </CLASSES>
      <JAVADOC/>
      <SOURCES>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/cfd5385e0c5ed1c8a5dce57d86e79cf357153a64/logback-classic-1.2.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.3/3ebabe69eba0196af9ad3a814f723fb720b9101e/logback-core-1.2.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.10.3/5b24f64c1a3351a550651b072887ac56a0af120c/jackson-core-2.10.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.woodstox/woodstox-core/5.2.1/a4916b0d92514783c152bf0cbc5daebc1cb1e403/woodstox-core-5.2.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.github.virtuald/curvesapi/1.06/48404d3d9cfeb13c15d9bff1e11cccc7e4cb8f48/curvesapi-1.06-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.h2database/h2/1.4.200/3b5883b7a5a05b932c699760f0854ca565785a84/h2-1.4.200-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/c3p0/0.9.5.5/7a86790c4f73d20112e0bbfb9718384950569169/c3p0-0.9.5.5-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/mchange-commons-java/0.2.19/91a05a2e27efc8e8b95638926d6e0bf41d1cdd2c/mchange-commons-java-0.2.19-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.nothome/javaxdelta/2.0.1/c99bfecfaa91279b8a3d7d25a99cbbda107c903d/javaxdelta-2.0.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.istack/istack-commons-runtime/3.0.7/c899ff66b36c0cf814b3996d5dd9aa6b4684212c/istack-commons-runtime-3.0.7-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.xml.fastinfoset/FastInfoset/1.2.15/2679fa1855aebe1a48e4ec6928eafe7d261bf228/FastInfoset-1.2.15-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.zaxxer/SparseBitSet/1.2/ee5e8ac60eb99a373a4d3e0a35d1feccfabddc33/SparseBitSet-1.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-codec/commons-codec/1.15/843bc57fd042051e994846da8167bb7ca677a6d/commons-codec-1.15-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-io/commons-io/1.3.1/10e13eb33d8c2c55a2517ca47d109626520e4e59/commons-io-1.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/de.rototor.pdfbox/graphics2d/0.30/ed4fb7dc638741f6ac969ac2775f4576905d8e9c/graphics2d-0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.activation/javax.activation-api/1.2.0/1b4c6e77d35adab19794746d8ea753df30d77dca/javax.activation-api-1.2.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.xml.bind/jaxb-api/2.3.1/e47264d065cecbc572ba99856fcc7da19a470ae3/jaxb-api-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-collections4/4.4/6260e416ff273ee938b31b0a8e512a367b1ee500/commons-collections4-4.4-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-compress/1.20/8388cb084d8934ee9a66a2f613f0ee5a98abfad7/commons-compress-1.20-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.commons/commons-math3/3.6.1/8fab23986ea8886af34818daf32a718e81dc98ba/commons-math3-3.6.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.pdfbox/fontbox/2.0.22/a2aca34ee415f4e4ded2f795ac955c12e68a37e6/fontbox-2.0.22-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.pdfbox/pdfbox/2.0.22/c6b7e4d5e3317d9e00c0f61d28db7ab03a37a9fe/pdfbox-2.0.22-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.poi/poi-ooxml/5.0.0/5a09613b60b409833b5b2dca4b1d28f2c5290423/poi-ooxml-5.0.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.poi/poi/5.0.0/e393f0885747d346fa77870a9501890c23097c43/poi-5.0.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.santuario/xmlsec/2.2.1/1231150a280f64c37f4faf9c2e224f4bed72a1d7/xmlsec-2.2.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-core/9.0.30/73fc8b54346500884e0af113a26b7e5501bf3121/tomcat-embed-core-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-el/9.0.30/44e03a34483dde0bc2e41db049f81cbe8756088e/tomcat-embed-el-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-jasper/9.0.30/b503a1a202fc2b6c2cfa23f9b56905b33537344e/tomcat-embed-jasper-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat/tomcat-annotations-api/9.0.30/300f53e8dd1c7d2419126e877702c0108f20f73c/tomcat-annotations-api-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlbeans/xmlbeans/4.0.0/adae1da69bad52a4d2b5421aacad4b618dbb6919/xmlbeans-4.0.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-anim/1.13/17fd8a3d1004c238c1f98e4d53a43e318f067960/batik-anim-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-awt-util/1.13/dc0f374953db040f59f69ed228bbdf4b9734b511/batik-awt-util-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-bridge/1.13/aa0a84b3676ad7482607c3fa922bf177002b8595/batik-bridge-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-codec/1.13/a0f2b121905862c71bf148c6ad0800e029b32840/batik-codec-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-constants/1.13/4fb8a6e9187c35e1f0a2ed21be514bc1af3d6b5a/batik-constants-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-css/1.13/e20801fb330799d23187c843e6509f575b382bfc/batik-css-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-dom/1.13/cb8ceeb902b4e5e9a99b7588b315e7445e27f4f/batik-dom-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-ext/1.13/98ba5f679ba87de03dd4ce2a158f98c067175bdd/batik-ext-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-extension/1.13/c5921d3db10171e6b836c94f3958f56ce6df7aaf/batik-extension-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-gui-util/1.13/3acd0bb9f324b96ee36d7ae5b3cb2ca6fd5bce92/batik-gui-util-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-gvt/1.13/3231a02d1cf6423bd7e83ae67c42758b35718019/batik-gvt-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-i18n/1.13/b4ae66cff4ebdea9772eab9fc38d6ebe31d2fab1/batik-i18n-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-parser/1.13/7e7cb18bce7e946c615067ef4e42bc61030cf0da/batik-parser-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-rasterizer/1.13/f613f24c3cc2aecead94a6f49ea46a1f2f30fb29/batik-rasterizer-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-script/1.13/f92b98c387beb6ad5878902ebf53be8914ba157/batik-script-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-shared-resources/1.13/b138fede83cd7aade16813f978b0b0c58ba8d0fc/batik-shared-resources-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-slideshow/1.13/42afe274b17bc1cac3c2ea7db34c2dab33a5d09d/batik-slideshow-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svg-dom/1.13/90cd2219af704c268a65d4162d65cc3f477e703a/batik-svg-dom-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgbrowser/1.13/8b4e0d8f1faef39043acc3824a8924d505070353/batik-svgbrowser-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svggen/1.13/9abcad186b415959f3b4c9d479c13e2764fe1374/batik-svggen-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgpp/1.13/6490afbb37bef6077cd02e5e797304ab7c9ac910/batik-svgpp-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-svgrasterizer/1.13/12ac55f5b373eb19d8655c30a0a696430f1a648b/batik-svgrasterizer-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-swing/1.13/79bf8d495661569a435b12c9902d365903d2d9ad/batik-swing-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-transcoder/1.13/5085cca8e2f670b9d33c1fe4cefc7f159eebbc88/batik-transcoder-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-ttf2svg/1.13/929cbe6129430dd3d63cf0b9425a23a57be62cac/batik-ttf2svg-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-util/1.13/c65bf2343dd9edaf23764cedae1cfac98ac2c58f/batik-util-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/batik-xml/1.13/7dd29ac4585d4f1a78cfe2743e322c7c984e26b/batik-xml-1.13-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.xmlgraphics/xmlgraphics-commons/2.4/21a2ad053f250db743ade3ea25719d77b98a7a70/xmlgraphics-commons-2.4-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.bouncycastle/bcpkix-jdk15on/1.68/a5407438fed5d271f129d85e3f92cc027fa246a9/bcpkix-jdk15on-1.68-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.bouncycastle/bcprov-jdk15on/1.68/c092c4f5af620ea5fd40a48d844c556826bebb63/bcprov-jdk15on-1.68-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.checkerframework/checker-qual/3.5.0/acb4745ac343906cd39f9b3776db0e56f251ae6e/checker-qual-3.5.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.codehaus.woodstox/stax2-api/4.2/533115b0f334dd00e5c1daa6acd48b139fb0ab4/stax2-api-4.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.eclipse.jdt/ecj/3.18.0/a3e3bc746b00e64363061bc18ae3a53b0c078de8/ecj-3.18.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.ehcache/ehcache/3.8.1/33eff8be889857b5ba53f1e3ec93fdd72594f97d/ehcache-3.8.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/jaxb-runtime/2.3.1/a6eab08c0837ac6ff0b1c1ad47d7945b1385fbda/jaxb-runtime-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/txw2/2.3.1/b83e3d8869ba034c44b8b0b233bc050b0c051700/txw2-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-reflect/1.4.10/d0b96b542fcc85544df2b7ac2f0fbceaded2d90a/kotlin-reflect-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-common/1.4.30/9427471650876e86fdb0dd878f147ff15c57eac0/kotlin-stdlib-common-1.4.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk7/1.4.10/710a0b1d4fa5e809dd4005eff7e334ee38f33ae8/kotlin-stdlib-jdk7-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk8/1.4.10/c0f5a1f8f77dd62be2f4c2a99a595bf574ac1ca9/kotlin-stdlib-jdk8-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib/1.4.30/858c8c760457dc82d87e6128330b23c319e20303/kotlin-stdlib-1.4.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlinx/kotlinx-coroutines-core-jvm/1.4.3/90dbd9ce28247c7f288be666ccffd63d22f9a52d/kotlinx-coroutines-core-jvm-1.4.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlinx/kotlinx-coroutines-core/1.4.3/400d042f6e8ba172afde762ecfea7b804ee92cca/kotlinx-coroutines-core-1.4.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains/annotations/13.0/5991ca87ef1fb5544943d9abc5a9a37583fabe03/annotations-13.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jvnet.staxex/stax-ex/1.8/bd2cfcaffb7feaecc7632191563f6beb91f2fd30/stax-ex-1.8-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.postgresql/postgresql/42.2.18/f03205de8be7a1a71dccdc985f436d3461cf1960/postgresql-42.2.18-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/jcl-over-slf4j/1.7.30/f2442e369a190089a2774920b5e73a4d4c1ef793/jcl-over-slf4j-1.7.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/jul-to-slf4j/1.7.30/f9e7f2ae73c3ef9c375a325cea1ef1dcc2613579/jul-to-slf4j-1.7.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.30/71a1fdefa224da50f1db6306ce609981e20186c9/slf4j-api-1.7.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xalan/serializer/2.7.2/fe9c3d37a49238fac9d4d6c4f5bbd8c334da787a/serializer-2.7.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xalan/xalan/2.7.2/fe9c3d37a49238fac9d4d6c4f5bbd8c334da787a/xalan-2.7.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/xml-apis/xml-apis/1.4.01/5502da0c4c0a7916a604356ef19394ccfa30cd4b/xml-apis-1.4.01-sources.jar!/"/>
      </SOURCES>
   </library>
</component>
