<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jtasks.common.core">
    <parameter id="type" value="COMMON"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
    </dependencies>
    <extension point-id="activator">
        <parameter id="class" value="com.gridnine.jtasks.common.core.activator.JTasksCoreCommonActivator"/>
    </extension>
</plugin>