<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jtasks.server.core">
    <parameter id="type" value="SERVER"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.standard"/>
    </dependencies>
<!--    <extension point-id="activator">-->
<!--        <parameter id="class" value="com.gridnine.jasmine.server.demo.activator.DemoActivator"/>-->
<!--    </extension>-->
</plugin>