<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jtasks.web.core">
    <parameter id="type" value="WEB"/>
    <parameter id="kotlin-output-dir" value="resources/jtasks-core"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.antd"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.reports"/>
    </dependencies>
</plugin>